<include file="Layout/_meta" />

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 新闻管理 <span class="c-gray en">&gt;</span> 新闻列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th>ID</th>
					<th>留言标题</th>
					<th>留言内容</th>
					<th>留言人</th>
					<th >留言时间</th>
					<th >审核留言</th>
					<th>点击回复留言</th>
					<th >操作</th>
				</tr>
			</thead>
			<tbody>
			<foreach name="lmsg" item="vo">
			   <tr class="text-c va-m check-tr">
					<td><input type="checkbox" value="{$vo.id}" name=""></td>
					<td>{$vo.id}</td>
					<td>{$vo.title|mb_substr=0,8,'utf-8'}...</td>
				    <td>{$vo.content|mb_substr=0,60,'utf-8'}...</td>
				    <td>{$vo.leaver}</td>
				    <td>{:date('Y-m-d H:i:s',$vo['leave_time'])}</td>
				    <td>
						<switch name="vo['status']" >
							<case value="0"><a  style="text-decoration:none"  href="{:U('Lmsg/lmsg_view',array('id'=>$vo['id']))}"  title='文章预览审核'>审核并查看详情</a></case>
							<case value="1"><a  style="text-decoration:none"  href="{:U('Lmsg/lmsg_view',array('id'=>$vo['id']))}"  title='已经审核通过'><span class="label label-success radius">审核通过</span></a></case>
							<case value="2"><a  style="text-decoration:none"  href="{:U('Lmsg/lmsg_view',array('id'=>$vo['id']))}"  title='审核未通过'><span class="label label-danger radius">审核未通过</span></a></case>
							<case value="3"><a  style="text-decoration:none"  href="{:U('Lmsg/lmsg_view',array('id'=>$vo['id']))}"  title='审核未通过'><span class="label label-danger radius">审核未通过</span></a></case>
						</switch>

					<!--	<if condition="$vo['status'] eq 0">
							<a href="javascript:;" onclick="replay_msg('回复消息','__CONTROLLER__/replay/id/{$vo.id}',500,380)"> <span class="label label-danger radius">点击回复消息</span></a>
							<else/>
							<a href="javascript:;" onclick="replay_look('回复内容','__CONTROLLER__/replay_look/id/{$vo.id}',500,300)"><span class="label label-success radius">查看回复内容</span></a>
						</if>-->
					</td>
				   <td>
					   <if condition="$vo['status'] eq 2">
						   <a  style="text-decoration:none" onclick="replay_msg('回复消息','__CONTROLLER__/replay/id/{$vo.id}',500,380)" href="javascript:;" title='审核未通过'><span class="label label-danger radius">回复消息</span></a></case>
						<else/>
						  <a href="javascript:;" onclick="replay_look('回复内容','__CONTROLLER__/replay_look/id/{$vo.id}',500,300)"><span class="label label-success radius">查看回复内容</span></a></case>
					   </if>
				   </td>
					<td class="f-14 td-manage">
					  <a style="text-decoration:none" class="ml-5"
						onClick="lmsg_del(this,'__CONTROLLER__/lmsg_del','{$vo.id}')"title="删除">
						<i class="Hui-iconfont">&#xe6e2;</i>
					   </a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="./Application/Admin/View/Layout/_footer.html" /> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN_URL__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN_URL__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN_URL__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aLengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],//指定每页显示条
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	 // {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});
//消息回复
function replay_msg(title,url,w,h){
	layer.open({
		title:title,
		type: 2,
		area: [w+'px',h+'px'],
		closeBtn:1,
		shadeClose: true, //点击遮罩关闭
		content: url,
		yes:function (index) {
			location.reload();
//            layer.close(index);
		},
		cancel:function(index){
			layer.close(index)
		}
	});
//	layer_show(title,url,w,h);
}


//查看回复内容
function replay_look(title,url,w,h){
	layer.open({
		title:title,
		type: 2,
		area: [w+'px',h+'px'],
		closeBtn:1,
		shadeClose: true, //点击遮罩关闭
		content: url,
		yes:function (index) {
			location.reload();
//            layer.close(index);
		},
		cancel:function(index){
			layer.close(index)
		}
	});
//	layer_show(title,url,w,h);
}

/*新闻-删除*/
function lmsg_del(obj,url,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: url,
			data:{id:id},
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}


</script> 
</body>
</html>