*{margin: 0; padding: 0}
.banner{width: 1100px; height: 175px; margin: 0 auto; background: url("../images/banner.png") no-repeat; position: relative}
.flash{width: 400px; height: 100px;  position: absolute;top: 70px; right: 50px;}
.ad{width: 332px;height: 154px; float: right; margin-top:20px;}