<!--meta-->
<include file="Layout/_meta" />
<!--endmeta-->

<title>点餐宝头条信息</title>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="post" action="__SELF__">
		<!--<input type="hidden" name="id" value="{$v.id}" />-->
		<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>顶级权限：</label>
			<div class="formControls col-xs-8 col-sm-3"><span class="select-box">
				<select name="parent_id" class="select">
					<option value="0" >顶级权限</option >
					<?php foreach ($parentData as $k => $v): ?>
					<?php if($v['id'] == $data['id'] || in_array($v['id'], $children)) continue ; ?>
					<option <?php if($v['id'] == $data['parent_id']): ?>
					   selected="selected"
					<?php endif; ?>
					value="<?php echo $v['id']; ?>">
					<?php echo str_repeat('-', 8*$v['level']).$v['pri_name']; ?>
					</option>
					<?php endforeach; ?>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">权限名称：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input  type="text" class="input-text" name="pri_name" value="<?php echo $data['pri_name']; ?>" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">模块名称：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input  type="text"class="input-text" name="module_name" value="<?php echo $data['module_name']; ?>" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">控制器名称：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input  type="text" class="input-text"name="controller_name" value="<?php echo $data['controller_name']; ?>" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">方法名称：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input  type="text"class="input-text" name="action_name" value="<?php echo $data['action_name']; ?>" />
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input type="submit" class="btn btn-primary radius" value=" 确定 " />
				<input type="reset"  class="btn btn-default radius" value=" 重置 " />
			</div>
		</div>
	</form>

</article>

<!--_footer 作为公共模版分离出去-->
<!--footer-->
<include file="Layout/_footer" />
<!--footer-->

<!--请在下方写此页面业务相关的脚本-->
<script>
	// ajax 提交表单
	$(document).ready(function(){
		$("#submit").click(function(){    // 提交按钮触发事件
			var tourl = $("#form-article-add").attr("action");    // 获取 表单的 提交地址
			// 序列化 表单数据 后提交 ，太简洁了
			$.post(tourl,$("form").serialize(),function(data){
				alert(data);
				//直接返回首页
//				layer.msg(data['info'],5,data['status'],function(){
//				 location.href = "{:U('Article/artlist')}"; //自动关闭后返回首页
				 });
				//确定返回首页还是再次添加
				$.layer({
					shade: [0.5, '#000'], //弹出层背景颜色
					dialog: {
						msg: data['info'], //读取后台返回信息
						btns: 2,           //设置两个按钮
						type: data['status'], //通过返回的代码设置图标 1或0
						btn: ['返回首页','再次更改'],
						yes: function(){
							location.href = "{:U('Article/artlist')}"; //关闭后返回首页
						}, no: function(){
							location.reload(); //关闭后刷新页面
						}
					}
				});
			});
		});

</script>


<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>